<div id="cart">
    <a href="~/Account/Cart" class="cart-link">Your Shopping Cart</a>
    <div class="cl">&nbsp;</div>
    <span>Articles: <strong>@ViewBag.Articles</strong></span> &nbsp;&nbsp;<span>Price: <strong>$@ViewBag.CartPrice</strong></span>
</div>